// NavBar.scss
nav {
  position: fixed;
  width: 100%;
  top: O;
  z-index: 9999;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem;
  color: whitesmoke;

  .title {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }

  .menu {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

    span {
      height: 0.4rem;
      width: 100%;
      background-color: white;
      border-radius: 0.2rem;
    }
  }


  .active {
    background-color: #333;
    color: cadetblue;
    border-bottom: 2px solid cadetblue;
  }

  .list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5rem;


    .list_links {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: 1rem;

      li {
        list-style: none;

        a {
          color: inherit;
          text-decoration: none;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0.25rem;



          &:not(.active):hover {
            background-color: #777;
            border-bottom: 2px solid cadetblue;
          }
        }
      }
    }

  }

  @media (max-width: 480px) {


    flex-direction: column;
    align-items: stretch;

    .menu {
      display: flex;
    }

    .list {
      flex-direction: column;
      align-items: stretch;

      .list_links {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 0.25rem;

        li {
          width: 100%;

          a {
            font-size: var(--fs-500);
            margin: 0.2rem 0.5rem;
            text-align: center;
          }
        }
      }
    }

    .closed {
      display: none;
    }

    .open {
      display: flex;
    }


  }
}